*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
} 
.cabecalho-imagem{ 
  width: 100%; 
  max-height: 1980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}
.banner1{ 
 max-width: 2015px;  
display: flex;
justify-content: center; 
}
.estudante_titulo{
padding: 50px;
text-align: center;

}
.estudante-nome{
text-align: center;
}
.estudante-imagem { width: 120px; height: 120px; object-fit: contain;
}
.estudante-icone {
  width: 24px;
  height: 24;            
  display: block;          
  margin: 8px auto 0 auto;
}
.estudante{
background-image: background-color(#faae43);
padding: 24px 0;
}

.estudante.div{
display: flex;
  flex-direction: column;   
  align-items: center;      
  text-align: center;
  padding: 24px 0;
}

.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola{
background-image: linear-gradient(#FEEC41,#4274D9);
color: rgb(255, 255, 255);
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}